@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container {
  font-family: inherit;
}

.ql-editor {
  min-height: 200px;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  color: #9ca3af;
}
